{% extends "main/base.html" %}

{% block content %}





<div id="detail_div">
    <input id ="bc" type="hidden" value="{{permalink}}">
</div>
<div>
<div class="alert alert-dark"><h1 class="display-4" id="name"></h1></div>
<div class="alert alert-success"><h4 id="description"></h4></div>
<div><button class="btn btn-warning"><h4 id="status"></h4></button></div>
<div class="">
{% if c %}
<form method='POST' id="title" action="#">{% csrf_token %}
        <input type="hidden" value=""  id="title_val">
        <input type="hidden" value="{{permalink}}"  id="perma_val">

        <button class="btn btn-success" type="submit">Add to my list</button>




</form>
</div>

{% else %}
<div class="alert alert-info"><h5>In my list</h5></div>
{% endif %}
    
</div>

<!--<div id="moreinfo"></div>-->

<div class="alert alert-light" id="detail-div"></div>

{% endblock %}

{% block script %}

<script>

var permalink = $("#bc").val();
console.log(permalink)
detail(permalink);
//console.log(typeof 42)
//console.log(typeof String({{ permalink }}))</script>

{% endblock  %}